body {
  font-family: sans-serif;
}

header {
  background-color: #404041;
  height: 4em;
}

h1 {
  color: #ed458b;
  font-weight: bold;
  padding-top: 0.32em;
  text-align: center;
}

h2 {
  font-size: 11em;
  color: #ed458b;
  font-weight: 100;
  padding: 0em;
}

span {
  color: #FFFFFF;
  font-weight: 100;
}

p {
  margin-top: 2em;
  text-align: center;
}

form {
  text-align: center;
}

.inner-col {
  margin-top: 2em;
}

.button-style {
  background-color: #D0D2D3;
  border-radius: 14px;
  color: white;
  padding-left: 3.5em;
  padding-right: 3.5em;
  outline: none;
}

.input-box {
  margin-top: 2em;
  padding-left: 5em;
  padding-right: 5em;
  outline: none;

}

.guess-button {
  margin-right: 1em;
}

.reset-button {
  padding-left: 9em;
  padding-right: 9em;
}
