body {
  font-family: sans-serif;
  margin: 0;
}

header {
  background-color: #404041;
  height: 6.5em;
  text-align: center;
}

h1 {
  color: #ed458b;
  font-size: 4em;
  font-weight: 700;
  margin: 0px;
  padding-top: 0.2em;
  text-align: center;
}

span {
  color: #FFFFFF;
  font-weight: 300;
}

h2 {
  color: #ed458b;
  font-size: 9em;
  font-weight: 100;
  margin: 0em;
  text-align: center;
}

form {
  text-align: center;
}

p {
  color: #404041;
  font-size: 2em;
  text-align: center;
}

p.explain-text {
  margin-bottom: 0em;
  margin-top: 0.5em;
}

p.output-text {
  color: red;
  margin-bottom: 0.5em;
  margin-top: 0em;
}

.input-fields {
  color: #d0d2d3;
  font-size: 1.5em;
  font-weight: 300;
  height: 2em;
  margin: 2em 0.4em 0 0.4em;
  outline: none;
  padding: 0 2em 0 0.4em;
  text-align: left;
  width: 25%;
}

.range-submit {
  display: block;
  margin: 3rem auto;
}

.range-submit:hover {
  background-color: #EB008B;
}

.guess-input {
  display: block;
  margin: 2.5rem auto;
}

.button-style {
  background-color: #929497;
  border-radius: 26px;
  color: white;
  font-size: 1.1em;
  font-weight: 300;
  height: 2.5em;
  outline: none;
  text-align: center;
  width: 15%;
}

.guess-button {
  display: inline-block;
}

.clear-button {
  display: inline-block;
}

.button-style:disabled {
  background-color: #D0D2D3;
}

.button-style:hover {
  background-color: #EB008B;
}